/ Wrap the rest of the page in another container to center all the content.
.container.marketing
  .row
    .owl-carousel
      = image_tag 'carousel/face-il-faro.jpeg', :alt => 'TEST CAROUSEL1', :class => 'test'
      = image_tag 'carousel/entrer-il-faro.jpg', :alt => 'TEST CAROUSEL1', :class => 'test'
      = image_tag 'carousel/salle-il-faro.jpg', :alt => 'TEST CAROUSEL1', :class => 'test'
  / Three columns of text below the carousel
  .row
    .col-lg-4
      = image_tag 'foods/avocat-crevette.JPG', :alt => 'Generic placeholder image', :class => 'img-circle', :width=> '140px', :height => '140px'
      %h2 Entrées
      %p Laissez vous séduire par une de nos entrées de toute fraîcheur !
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} Menu entrées »
    / /.col-lg-4
    .col-lg-4
      = image_tag 'foods/pizza.jpg', :alt => 'Generic placeholder image', :class => 'img-circle', :width=> '140px', :height => '140px'
      %h2 Plats
      %p Nos plats sont inspirés des traditions italiennes, optez pour un voyage au coeur des saveurs de l'italie
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} Menu plats »
    / /.col-lg-4
    .col-lg-4
      = image_tag "foods/ice-cream.jpg", :alt => 'Generic placeholder image', :class => 'img-circle', :width=> '140px', :height => '140px'
      %h2 Desserts
      %p Pour les gourmands ne restant pas sur leur faim, l'un de nos desserts maisons devraient vous séduire !
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} Menu desserts »
    / /.col-lg-4
  / /.row
  %hr.featurette-divider
  / /END THE FEATURETTES
  / FOOTER
  %footer
    %p.pull-right
      %a{:href => "#"} Back to top
    %p
      \© 2014 Company, Inc. ·
      %a{:href => "#"} Privacy
      \·
      %a{:href => "#"} Terms
/ /.container